{% extends 'layout.html' %}

{% block body %}
	<form>
	  <div class="form-group">
	    <label for="confnum">Confirmation Number</label>
	    <input type="text" class="form-control" id="confnum">
	  </div>
	  <div class="form-group">
	    <label for="firstname">First Name</label>
	    <input type="text" class="form-control" id="firstname">
	  </div>
	  <div class="form-group">
	    <label for="lastname">Last Name</label>
	    <input type="text" class="form-control" id="lastname">
	  </div>
	  <div class="form-group">
	    <label for="date">Depart Date</label>
	    <input type="text" class="form-control" id="date">
	  </div>
	  <div class="form-group">
	    <label for="time">Depart Time</label>
	    <input type="text" class="form-control" id="time">
	  </div>
	  <div class="form-radio">
	    <label class="form-radio-label">
	      <input type="radio" class="form-radio-input">
	      Email
	    </label>
	    <label class="form-radio-label">
	      <input type="radio" class="form-radio-input">
	      Phone
	    </label>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock%}